{% extends "base.html" %}

{% block page_title %} Home Page {% endblock %}

{% block page_content %}

<div class="container">
    <h1 style="text-align: center;">Hello World!</h1>

    <h2> Objective </h2>
    <p style="text-align: justify;">
        This project is a simple implementation of a Django App to show the projects like a portfolio. <br>
        To insert content (projects) go to <a href="http://localhost:8000/admin/projects/project/">admin</a> and insert a new project.
    </p>

    <h2> Technologies </h2>
    <p style="text-align: justify;">
        To provide this interface, we are using: <br>
        <ul>
            <li> <strong> Python with Django </strong> in the backend to provide the content. </li>
            <li> <strong> HTML + Bootstrap + Jinja2 </strong> to create the pages. </li>
        </ul>
    </p>

</div>

{% endblock %}