{% extends 'base.html' %}

{% block page_content %}

<main>
    <div class="container">

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="">Projects</h1>
                    <p class="lead text-body-secondary"></p>
                    <p>
                        <a href="https://github.com/bernardoadribeiro" class="btn btn-primary my-2" target="blank">Github</a>
                        <a href="https://www.linkedin.com/in/bernardoadribeiro/" class="btn btn-secondary my-2" target="blank">LinkedIn</a>
                    </p>

                    <h3>Hi there! <img src='https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif'>  I'm Bernardo</h3>
                    <p>
                        - I'm a Project Manager with experience leading software projects, and a learner of Backend Development. <br>
                        - My skillset includes proficiency in Python, Flask, JavaScript, Docker, and Git. <br>
                        - I'm currently focused on advancing my knowledge and skills in web development as a backend, and also seeking to improve my abilities in Project Management.<br>
                    </p>
                </div>
            </div>
        </section>
    
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
    
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                    {% for project in projects %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ project.image }}">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ project.title }} </h5>
                                    <p class="card-text"> {{ project.description }} </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="{% url 'project_detail' project.id %}">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}